.error-message {
    color: #f53d3d;
    font-size: 12px;
<<<<<<< HEAD
=======
    background-color: aqua !important;
>>>>>>> 6fa9d5247ab7672e89474791c7feaf1177b3652f
}

.help-label {
    color:gray;
    font-size: 12px;
}