<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-grid padding-top>
      <ion-row justify-content-center id="imageRow">
        <ion-col col-12>
              <img #profile src="../assets/imgs/profile.png">
        </ion-col>
      </ion-row>
    </ion-grid>
    <h4 text-center margin-bottom>{{menuchange.user.firstName + ' '+ menuchange.user.lastName}}</h4>
    <ion-item-group>
      <ion-item-divider color="light">Información Personal</ion-item-divider>
      <ion-item>
        <ion-icon name="person" item-start></ion-icon>
        <h2>Usuario:</h2>
        <p>{{menuchange.user.username}}</p>
      </ion-item>
      <ion-item>
        <ion-icon name="mail" item-start></ion-icon>
        <h2>E-mail:</h2>
        <p>{{menuchange.user.email}}</p>
      </ion-item>
      <ion-item-divider color="light">Navegar</ion-item-divider>
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        <p>{{p.title}}</p>
        <ion-badge *ngIf="p.title == 'Mi Carrito' && cartCh.cart" item-end>{{cartCh.cart.length}}</ion-badge>
      </button>
      <ion-item-divider color="light"></ion-item-divider>
      <button ion-button full menuClose (click)="myProfile()" >
          Mi Perfil
        </button>
        <button ion-button full menuClose (click)="closeSession()">
            Cerrar Sesión
          </button>
    </ion-item-group>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>